codeHaskell-pho/*.hs  linguist-language=Haskell
codeHaskell-pho/*.hs  linguist-language=Haskell
codeHaskell-pho/*.cpp  linguist-language=C++
codeHaskell-pho/*.hpp  linguist-language=C++
*.html  linguist-vendored                     
*.css   linguist-vendored
*.js    linguist-vendored
